.container {

    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: -60px;
    right: 20px;
    width: auto;
    background-color: blueviolet;
    border-radius: 5px;
    transition: bottom 1s;

}

.filters {

    padding: 20px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: auto;
    background-color: white;
    border-radius: 5px;
    border: 2px solid;

}

.message {

    color: white;
    font-size: 25px;

}

#myCanvas {

    border: 1px solid lightgray; 
    background-color: gray;
    border-radius: 5px;

}